[submodule "dashboard"]
	path = dashboard
	url = git@github.com:tobiashendrickx/dev.mumodashboard.be.git
[submodule "pipeline"]
	path = pipeline
	url = git@github.com:MuseumMonitoring/pipeline.git
[submodule "graphs"]
	path = graphs
	url = git@github.com:MuseumMonitoring/graphs.git
